body {
  overflow: hidden;
  margin: 0;
}

body * {
  position: relative;
}

.App {
  text-align: center;
  position: relative;
}


.App-header {
  background-color: #282c34;
  height: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: white;
}

.main-grid {
  display: grid;
  grid-template-columns: 300px 1fr;
  height: 100%;
}

.sidebar-nav {
  background: #989898;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 200px);
}

.main-content {
  overflow-y: scroll;
  height: calc(100vh - 200px);
}

code {
  display: block;
}

.bottom-indicator {
  margin-bottom: 0;
}
