body {
  overflow: hidden; 
  margin: 0;
}

body * {
  position: relative;
}

.App {
  text-align: center;
  position: relative;
}


.App-header {
  background-color: #282c34;
  height: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: white;
}

.main-grid {
  display: grid;
  grid-template-columns: 300px 1fr;
  height: 100%;
}

.sidebar-nav {
  background: #989898;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 200px);
  text-align: left;
  padding-left: 30px;
}

.sidebar-links {
  margin-bottom: 10px;
  outline: none;
  background-color: transparent;
  border-style: none;
  color: #0b24fb; 
  cursor: pointer;
  display: inline;
  font: inherit;
  padding: 0;
  text-align: start;
  text-decoration: underline;
  width: auto;
}

.sidebar-links:hover {
  color: #6734cc;
}

.main-content {
  box-shadow: inset 0 -45px 130px -55px rgba(0, 0, 0, 1);
  height: calc(100vh - 220px);
  overflow-y: scroll;
  padding-left: 20px;
  padding-right: 20px;
  text-align: left;
}

code:last-child {
  margin-bottom: 50px;
}

code {
  background-color: #C7DBFF;
  display: block;
  padding: 10px;
}

.bottom-indicator {
  margin-bottom: 0;
}
